<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/style.css" />
    <title>Fitwell</title>
</head>

<body>
    <nav>
        <div class="nav__logo">
            <img src="static/logo.PNG" />
        </div>
        <ul>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('index') }}">Login</a></li>
            <li><a href="{{ url_for('log') }}">Log</a></li>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('upload') }}">Upload</a></li>
            <li><span onclick="user.logout()">Logout</span></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>

<script async src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="static/userLoginAndRegister.js"></script>


{% block additionalScripts %}
{% endblock %}

</html>