{% extends "base.html" %}


{% block content %}
<section>
    <div class="user__container border--grey">

        {% with active="index" %}
        {% include "containerTabs.html" %}
        {% endwith %}

        <form class="user__form">

            <label for="email">Enter your email:</label>
            <input type="email" id="email" name="email" />

            <label for="password">Enter your password:</label>
            <input type="password" id="password" name="password" />

            <button type="submit">Submit</button>
        </form>
    </div>
</section>
{% endblock %}

<!-- {% block containerTabs %}  {% endblock %} -->