{% extends "base.html" %}

{% block content %}
<div class="container">
    {% with active="register" %}
    {% include "sidebar.html" %}
    {% endwith %}

    <section class="form__container">
        <div class="text-center">
            <h1>Calorie consumption</h1>
        </div>
        <div>
            Input Date/Time, your weight, and time spent on each exercise.
        </div>
        <form id="log">
            <div class="form__row--datetime">
                <label for="datetime">Date & time</label>
                <input type="string" id="datetime" name="datetime" />
                <div>e.g. 2021-01-22T15:00</div>
            </div>

            <div class="text-center">
                <div class="form__row">
                    <label for="weight">Weight</label>
                    <input type="number" id="weight" name="weight" />
                    <div>kilograms</div>
                </div>
                <div class="form__row">
                    <label for="walking">Walking</label>
                    <input type="number" id="walking" name="walking" />
                    <div>minutes</div>
                </div>
                <div class="form__row">
                    <label for="running">Running</label>
                    <input type="number" id="running" name="running" />
                    <div>minutes</div>
                </div>
                <div class="form__row">
                    <label for="swimming">Swimming</label>
                    <input type="number" id="swimming" name="swimming" />
                    <div>minutes</div>
                </div>
                <div class="form__row">
                    <label for="bicycling">Bicycling</label>
                    <input type="number" id="bicycling" name="bicycling" />
                    <div>minutes</div>
                </div>

                <button type="submit" class="width-auto" id="calories">
                    Submit
                </button>
            </div>

            <div class="text-center">
                <h2>Total calories to be consumed: <span id="counter"></span> </h2>
            </div>
        </form>
    </section>
</div>
{% endblock %}

{% block additionalScripts %}
<script src="static/log.js"></script>

<script>
    populateUser()
</script>
{% endblock %}