{% extends "base.html" %}

{% block content %}
<section>
    <div class="user__container border--grey">

        {% with active="register" %}
        {% include "containerTabs.html" %}
        {% endwith %}

        <form class="user__form" id="register-form">

            <label for="email">Enter your email:</label>
            <input type="email" id="email" name="email" />

            <label for="password">Enter your password:</label>
            <input type="password" id="password" name="password" />

            <label for="weight">Enter your weight:</label>
            <input type="text" id="weight" name="weight" />

            <label for="gender">Enter your gender:</label>
            <input type="text" id="gender" name="gender" />

            <button type="button" onclick="onRegister()">Submit</button>
        </form>
    </div>
</section>
{% endblock %}